﻿
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<a href="/historiaclinica/index">Inicio</a>
<br />
<a href="/user/logout">Cerrar Sesión</a>

<div class="card h-75 mt-lg-5">
    <div class="text-center mt-3 mb-3">
        <h3 class="card-title">Crear nueva historia clínica</h3>
    </div>
    <form action="/historiaclinica/Create" method="post">
        <div class="row my-3 mx-3">
            <div class="col-xl-6 mb-3">
                <label>Ingrese Codigo de Registro: </label>
                <input type="text" class="form-control" name="CodigoRegistro" value="Mascot-" />
                @Html.ValidationMessage("CodigodeRegistro")
            </div>

            <div class="col-xl-6 mb-3">
                <label>Nombre de la mascota: </label>
                <input type="text" class="form-control" name="NombreMascota" value="@Model.NombreMascota" />
                @Html.ValidationMessage("NombreMascota")
            </div>

            <div class="col-xl-6 mb-3">
                <label>Fecha de nacimiento de la mascota:</label>
                <input type="date" class="form-control" name="NacimientoMascota" value="@Model.NacimientoMascota" />
                @Html.ValidationMessage("Fecha")
            </div>

            <div class="col-xl-6 mb-3">
                <label>Sexo de la mascota:</label>
                <select class="custom-select m" name="Sexo">
                    <option value="0">--Seleccionar Sexo--</option>
                    @foreach (var sexo in ViewBag.Sexo)
                    {
                        <option value="@sexo">@sexo</option>
                    }
                </select>
            </div>
            <div class="col-xl-6 mb-3">
                <label>Especie: </label>
                <select class="custom-select m" name="Especie">
                    <option value="0">--Seleccionar Especie--</option>
                    @foreach (var especie in ViewBag.Especie)
                    {
                        <option value="@especie">@especie</option>
                    }
                </select>
            </div>
            <div class="col-xl-6 mb-3">
                <label>Raza: </label>
                <select class="custom-select m" name="Raza">
                    <option value="0">--Seleccionar Raza--</option>
                    @foreach (var raza in ViewBag.Raza)
                    {
                        <option value="@raza">@raza</option>
                    }
                </select>
            </div>
            <div class="col-xl-6 mb-3">
                <label>Tamaño</label>
                <input type="text" class="form-control" name="Tamanio" value="@Model.Tamanio" />
            </div>
            <div class="col-xl-12 mb-3">
                <label>Datos Particulares: </label>
                <textarea type="text" class="form-control" name="DatosParticulares" value="@Model.DatosParticulares"> </textarea>
            </div>
            <div class="col-xl-12 mb-3">
                <label>Nombres del dueño: </label>
                <input type="text" class="form-control" name="NombresDuenio" value="@Model.NombresDuenio" />
                @Html.ValidationMessage("NombresDuenio")
            </div>

            <div class="col-xl-6 mb-3">
                <label>Dirección del dueño: </label>
                <input type="text" class="form-control" name="DireccionDuenio" value="@Model.DireccionDuenio" />
                @Html.ValidationMessage("DireccionDuenio")
            </div>

            <div class="col-xl-6 mb-3">
                <label>Telefono: </label>
                <input type="text" class="form-control" name="Telefono" value="@Model.Telefono" />
                @Html.ValidationMessage("Telefono")
            </div>

            <div class="col-xl-6 mb-3">
                <label>Email: </label>
                <input type="text" class="form-control" name="Email" value="@Model.Email" />
                @Html.ValidationMessage("FormatoEmail")
            </div>

            <br class=" mt-5 mb-5" />
            <div class="col-xl-12">
                <button class="btn  btn-primary waves-effect">Crear Historia</button>
                <a href="/historiaclinica/VerHistorias" class="btn  btn-outline-primary waves-effect">Cancelar</a>
            </div>
        </div>
    </form>
</div>

