﻿
@{
    ViewData["Title"] = "VerHistorias";
}

<h1>Ver Historias Clínicas</h1>

<a href="/historiaclinica/index">Inicio</a>
</br>
<a href="/historiaclinica/create">Crear Historia Clínica</a>

<div>
    @foreach (var item in Model)
    {
        <div class=" row card w-90 mx-3 my-3">
            <div class="card-body row">
                <div class="col-md-12">
                    <h3 class="card-title text-dark">@item.CodigoRegistro - @item.NombreMascota</h3>
                </div>
                <div class="col-md-8">
                    <p>Fecha de Registro: @item.FechaRegistro.ToShortDateString()</p>
                    <p>Nacimiento: @item.NacimientoMascota.ToShortDateString()</p>
                    <p>Sexo: @item.Sexo</p>
                    <p>Especie: @item.Especie</p>
                    <p>Raza: @item.Raza</p>
                    <p>Tamaño: @item.Tamanio</p>
                    <p>Datos Particulares: @item.DatosParticulares</p>
                    <p>Nombres del Dueño: @item.NombresDuenio</p>
                    <p>Direccion del Dueño: @item.DireccionDuenio</p>
                    <p>Telefono: @item.Telefono</p>
                    <p>Email: @item.Email</p>
                </div>
            </div>
        </div>
    }
</div>

<a href="/user/logout">Cerrar Sesión</a>
