﻿
@{
    ViewData["Title"] = "Login";
}

<div class="my-auto">
    <form class="text-center border border-light p-5 w-25 m-auto" action="/user/Login" method="post">
        <p class="h4 mb-4">Iniciar sesión</p>
        <!-- Email -->
        <p class="red-text">@Html.ValidationMessage("Usuario")</p>
        <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" name="nombreUsuario" placeholder="Usuario">
        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" name="password" placeholder="Contraseña">
        <!-- Sign in button -->
        <button class="btn btn-block blue-gradient my-4" type="submit">Iniciar Sesión</button>
    </form>
</div>

